.tablenav-yop-poll span.current { background: rgba(0,0,0,.05); }
.yop-poll-container-error { text-transform: none !important; }
.yop_poll_captcha_image { max-width: 145px !important; }
.question-label {
        color: #90c3dd !important;
        margin: 0px !important;
        background: #fff !important;
        margin-left:0px !important;
        width: 200px !important;
        padding-left: 0px !important;
}
.yop-poll-container {
        padding-top: 0px !important;
	width: auto !important;
}
.yop-poll-forms ul {
        margin-left: 10px !important;
        font-size: 10px !important;
}
.yop-poll-forms ul li {
        font-family: Trebuchet MS, arial, serif !important;
        font-size: 5pt !important;
        color: #525252 !important;
}

